<nb-layout>
    <nb-layout-header fixed>
        <!-- Insert header here -->
    </nb-layout-header>

    <nb-layout-column>
        <h1 class="jc-space-between">
            <div>Task lists</div>
            <button nbButton outline status="primary" (click)="addNewTaskList()">Add task list</button>
        </h1>
        <div *ngFor="let list of taskLists$ | async">
            <app-task-list [taskListId]="list.id"></app-task-list>
        </div>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>
</nb-layout>
