<nb-layout>
    <nb-layout-header fixed>
        <!-- Insert header here -->
    </nb-layout-header>

    <nb-layout-column class="board-page_content">
        <h1 class="jc-space-between">
            <div>Task lists</div>
            <button nbButton outline status="primary" (click)="addNewTaskList()">Add task list</button>
        </h1>
        <div class="task-column-list">
            <div *ngFor="let list of taskLists$ | async">
                <app-tasks-column [taskListId]="list.id"></app-tasks-column>
            </div>
        </div>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>
</nb-layout>
